@model proyectoInmobiliaria.NET.Models.TipoInmueble
@{
	ViewData["Title"] = "Editar tipo de inmueble";
}

<h4>Editar Tipo de inmueble</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" name="IdTipoInmueble" value="@Model.idTipoInmueble" />
			<div class="form-group">
				<label asp-for="nombre" class="control-label"></label>
				<input asp-for="nombre" class="form-control" />
				<span asp-validation-for="nombre" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="descripcion" class="control-label"></label>
				<input asp-for="descripcion" class="form-control" />
				<span asp-validation-for="descripcion" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Guardar" class="btn btn-primary m-2" />
			</div>
		</form>
	</div>
</div>


<div>
	<a class="btn btn-primary m-2" asp-action="Index">Volver</a>
</div>