@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4 mb-5">Bienvenidos</h1>

    <a class="btn btn-primary m-2" asp-action="index" asp-controller="Propietario"> Index Propietarios</a>

    <a class="btn btn-primary m-2" asp-action="index" asp-controller="Inquilino"> Index Inquilinos</a>

    <a class="btn btn-primary m-2" asp-action="index" asp-controller="Inmueble"> Index Inmueble</a>

    <a class="btn btn-primary m-2" asp-action="index" asp-controller="Contrato"> Index Contrato</a>

    @if (User.IsInRole("Administrador"))
    {
        <a class="btn btn-primary m-2" asp-action="index" asp-controller="Usuario"> Index Usuario</a>
        <a class="btn btn-primary m-2" asp-action="index" asp-controller="TipoInmueble"> Index Tipo Inmueble</a>
    }


</div>