@{
    ViewData["Title"] = "Restringido";
}

<h2 class="text-center bg-dark text-white"> Pagina Restringida</h2>

<h6 class="alert alert-danger text-center"> ¡Error! USTED NO TIENE PERMISO PARA ACCEDER A ESTA PAGINA!!!! <i class="fa fa-optin-monster fa-5x" aria-hidden="true"></i> </h6>
<div class="card bg-dark text-white">
    <div class="text-center">
        <p style="font-family:'Century Gothic'; font-weight:500;"> Lideres en el mercado inmobiliario, estamos para brindarte el mejor lugar.</p>
    </div>
    <img style="width: 100%;" src="https://media.imna.ir/d/2019/07/09/4/1581542.jpg" alt="Card image cap">


</div>
