@model proyectoInmobiliaria.NET.Models.Usuario

@{
    ViewData["Title"] = "Login";
}

<h1 class="text-lg-center bg-info font-italic text-white">Ingresar</h1>

<div class="row text-lg-center">
    <div class="d-flex justify-content-center">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <i class="fa fa-user-circle  fa-1x"></i>
                <label asp-for="email" class="control-label fs-4">  E-mail  </label>
                <input asp-for="email" class="form-control" type="email" />
                <span asp-validation-for="email" class="text-danger"></span>

            </div>
            <div class="form-group">
                <i class="fa fa-unlock-alt fa-1x"></i>
                    <label asp-for="clave" class="control-label fs-4">Contraseña</i> </label>
                <div class="input-group mb-3">
                    <input asp-for="clave" class="form-control" id="password" type="password" />
                    <span asp-validation-for="clave" class="text-danger"></span>
                    <div class="input-group-append">
            <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword()">
                <span class="fa fa-eye-slash icon"></span>
            </button>
        </div>
                </div>
            </div>


            <div class="form-group">
                <input type="submit" value="Ingresar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="bg-dark text-white">
    <div class="text-center">

        <p style="font-family:'Century Gothic'; font-weight:500;"> Lideres en el mercado inmobiliario, estamos para
            brindarte el mejor lugar.</p>

    </div>
    <img style="width: 100%;" src="https://media.imna.ir/d/2019/07/09/4/1581542.jpg" alt="image cap">
    <script>
        function mostrarPassword() {
            let input = document.getElementById("password");
            let icon = document.querySelector("#show_password .icon");

            if (input.type === "password") {
                input.type = "text";
                icon.classList.remove("fa-eye-slash");
                icon.classList.add("fa-eye");
            } else {
                input.type = "password";
                icon.classList.remove("fa-eye");
                icon.classList.add("fa-eye-slash");
            }
        }
</script>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}